$background-color: #191a1c;
$background-search: #2c2c2c;
$white-color: rgb(255, 255, 255);
$black-color: rgb(0, 0, 0);
$search-background-color: #949494;
$modal-search-color: rgb(32, 32, 32);
$scroll-thumb-color: #ff4500